/* common style */
*{ 
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.any-btn{
    padding: 15px 35px;
    border: none;
    background: #E65474;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 6px;
    margin-top: 20px;
}
h3{
    font-weight: 800;
}
/* main banner style  */
.main-banner{
    background: #FCEEF1;
    display: flex;
}
.leftsite-banner{
    width: 500px;
    padding: 80px 120px;
}
.leftsite-banner h1{
    font-size: 50px;
    margin-bottom: 20px;
}
.leftsite-banner p{
    color: #685F60;
    line-height: 30px;
    margin-bottom: 20px;
}
.main-banner img{
    width: 450px;
    height: auto;
    padding-top: 40px;
}
/* featured flower style  */

.middle-content{
    margin: 40px auto;
    width: 620px;
    text-align: center;
}
.middle-content h3{
    font-size: 32px;
    margin-top: 80px;
    margin-bottom: 12px;
}
.tree-section{
    display: flex;
    width: 920px;
    margin: 0 auto;
}
.tree-section h4{
     text-align: center;
     font-size: 18px;
     margin-top: 20px;
     text-decoration: underline;
}
.one-tree img{
    background: #fcdbe2;
    width: 240px;
    height: 300px;
    padding: 0 30px;
    padding-top: 50px;
    border-radius: 150px 150px 0px 0px; 
    margin-right: 20px;
}
.two-tree img{
    background: #dfffff;
    width: 240px;
    height: 300px;
    padding: 0 30px;
    padding-top: 50px;
    border-radius: 150px 150px 0px 0px; 
    margin-right: 20px;
}
.three-tree img{
    background: #e8ffb3;
    width: 240px;
    height: 300px;
    padding: 0 30px;
    padding-top: 50px;
    border-radius: 150px 150px 0px 0px; 
    margin-right: 20px;
}
/* hot deal style */
.hot-section{
    background: #FCEEF1;
    display: flex;
    padding: 80px 80px;
    margin-top: 60px;
    margin: 50 auto;
}
.hotleft-content h3{
    font-size: 32px;
    margin-bottom: 18px;
}
h3 .hot-off{
    color: #E65474;
}
.hotleft-content{
    text-align: center;
    width: 650px;
    margin: 80px 70px;  
}
.hot-img img{
    width: 270px;
}
/* instagram section style */
.instagram-img{
    width: 1000px; 
    display: flex;
    margin: auto;
}
.instagram-img img{
    width: 230px;
    margin: 5px 10px;
}
/* latest deals style */
.inputhere input{
    background: #fff;
    width: 380px;
    height: 40px;
    border: none;
    padding: 5px 10px;
    margin-top: 20px;
}

.latest-content{
    background: url('image/Rectangle\ 9.png') no-repeat;
    height: 450px;
    background-size: 1033px 340px;
    text-align: center;
    margin-top: 50px;
    margin: 50 auto;
    background-position: center;

}
.latest-middle-content{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}
.latest-middle-content h3{
    font-size: 32px;
    margin-bottom: 12px;
}
/* idea section style  */
.idea-section{
    height: 460px;
    width: 1050px;
    margin: 0 auto;
}
.idea-head{
    background-color: #EAEEEF;
    width: 29%;
    height: 220px;
    text-align: center;
    float: left;
    margin-right: 20px;
    padding: 12px;
    border-radius: 8px;
}
.idea-head h4{
    font-size: 25px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 12px;   
}
.idea-head p{
    line-height: 28px;  
}
/* footer section style  */
footer{
    background: #000;
    color: #fff;
    padding: 40px 0px ;
}
h3 .footer-color{
    color: #E65474;
}
.copyright-p{
    color: #808080;
    font-size: 11px;
    margin: 23px 0px;
}